ul {
		list-style-type:none;
		margin:1px 0px;
		padding:0px;
		width: 100%;
		background-color:#f1f1f1;
}
li {
		border-left-width: 1.5px;
		border-left-style: solid;
		margin:0px 0px;
		padding: 0px 0px;
}
li a{
		display: block;
		color: #000;
		padding: 8px 8px;
		text-decoration: none;
		font-family:"Times New Roman", Times, serif;
		font-size: 13px;
}
li a.active{
	background-color:#4caf50;
	color:white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

		
		
	